//變數
$light-gray: #d1d1d1;
$dark-gray: #15161d;
$green: #00ffa3;
$white: #fff;
$black: #000;
$gradient: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);

// 全域設定
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: $white;
  font-family: "Bruno Ace SC", cursive;
  font-size: 16px;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: $light-gray;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.button {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 4px;
  width: 185px;
  border-radius: 32px;
}
.d-flex {
  display: flex;
}
.gap-1 {
  gap: 24px;
}
.ml-a {
  margin-left: auto;
}

// 字級
.h1 {
  font-size: 128px;
}
.h2 {
  font-size: 64px;
}
.fs-1 {
  font-size: 32px;
}
.fs-2 {
  font-size: 24px;
}
.fs-3 {
  font-size: 20px;
}
// col
.col-2 {
  width: 196px;
}
.col-3 {
  width: 306px;
}
.col-4 {
  width: 416px;
}
.col-5 {
  width: 526px;
}
.col-6 {
  width: 636px;
}
.col-7 {
  width: 746px;
}
// 顏色
.bg-black {
  background: $black;
}
.bg-gradient {
  background: $gradient;
}
.green {
  color: $green;
}
.light-gray {
  color: $light-gray;
}
.dark-gray {
  color: $dark-gray;
}
.black {
  color: $black;
}
.white {
  color: $white;
}
// 間距
.pd-160 {
  padding: 160px 0;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-24 {
  margin-bottom: 24px;
}
// menu
.menu {
  justify-content: space-between;
  gap: 61px;
  padding-top: 40px;
}
.ta-r {
  display: block;
  text-align: right;
}
// header
.name {
  display: block;
  text-align: right;
}
.header {
  padding: 72px 0;
  align-items: center;
}
.header-btn {
  background: #fff;
  color: #000;
}
// intro
.bg-image {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
}
.sparkle-sm {
  width: 128px;
}
// aboutme
.aboutme {
  align-items: center;
  justify-content: space-between;
}
.aboutme-list {
  flex-wrap: wrap;
}
.aboutme-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: inline-flex;
  padding: 16px;
  border: 1px solid #e3e3e3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}
// contact
.contact {
  padding: 96px 0;
  justify-content: space-between;
  align-items: center;
}
.contact-icon {
  gap: 20px;
  img {
    width: 162px;
    border-radius: 40px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.08);
    &:hover {
      box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
}
.contact-title {
  align-items: center;
}
// pj
.pj-content-txt {
  flex-direction: column;
  justify-content: space-between;
}
.pj-btn {
  color: $white;
  background: #000;
}
// footer
.footer {
  padding: 40px 0;
  text-align: center;
}
